/* Skills */
[class^= skill-] {
  width: 100px;
  height: 100px;
  margin: auto;
  margin-top: 10px;
}
.skill-1 {
  background-image: url("../img/worpress.png");
}
.skill-2 {
  background-image: url("../img/html-s.png");
}
.skill-3 {
  background-image: url("../img/css-s.png");
}
.skill-4 {
  background-image: url("../img/js-s.png");
}


/* Experience & Education */
.exp-edu-1 {
  height: 250px;
  margin-top: 10px;
  border: solid 1px yellow;
}
.exp-edu-icon {
  width: 10px;
  height: 50px;
  background-image: url("../img/freeicons-briefcase.png");
  border: solid 1px white;
}
