.about-container {
  height: 3rem;
}


/* Skills */
[class^= skill-] {
  width: 100px; /* PixelsPixelsPixelsPixels */
  height: 100px; /* PixelsPixelsPixelsPixels */
  margin: auto;
  margin-top: 10px; /* PixelsPixelsPixelsPixels */
}
.skill-1 {
  background-image: url("../img/worpress.png");
}
.skill-2 {
  background-image: url("../img/html-s.png");
}
.skill-3 {
  background-image: url("../img/css-s.png");
}
.skill-4 {
  background-image: url("../img/js-s.png");
}


/* About Responsive Breakpoints */
/* About Medium Devices */
@media (min-width: 900px) {
  .about-container {
    height: 8rem;
  }
}
