.menu {
  position: fixed;
  top: 86vh;
  right: 50vw;
  bottom: 0vh;
  left: 50vw;
  display: flex;
  justify-content: center;
}
.menu-container {
  position: absolute;
  top: 0;
  left: -4vh;
}
.menu-toggler {
  position: absolute;
  top: 0;
  width: 8vh;
  height: 8vh;
  cursor: pointer;
  z-index: 1;
  opacity: 0;
}
.menu-hamburger {
  position: absolute;
  top: 0;
  left: 0;
  width: 8vh;
  height: 8vh;
  border-radius: 0.4vh;
  padding: 1.6vh;
  background: var(--primary-color-lt);
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Hamburger middle line */
.menu-hamburger div {
  position: relative;
  width: 100%;
  height: 0.4vh;
  background: var(--primary-color-dk);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
}
/* Hamburger outer lines */
.menu-hamburger div::before,
.menu-hamburger div::after {
  content: '';
  position: absolute;
  top: -1.6vh;
  width: 100%;
  height: 0.4vh;
  background: inherit;
}
/* Hamburger lower line */
.menu-hamburger div::after {
  top: 1.6vh;
}
.menu-showcase {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Background circles overflowing area */
.menu-showcase div {
  background: var(--primary-color-dk);
  border-radius: 50%;
  width: 250vw;
  height: 250vw;
  display: flex;
  flex: none;
  justify-content: center; 
  align-items:center;
  transform: scale(0);
  transition: all 0.6s ease;
}
/* Canvas for Menu */
.menu-showcase div div {
  text-align: center;
  width: 90vw;
  height: 100vh;
  opacity: 0;
  transition: opacity 0.6s ease;
}
/* Menu */
li {
  list-style: none;
  margin: 6vh;
}
ul a {
  color: var(--primary-color-lt);
  font-size: 4vh;
  font-weight: 900;
  line-height: 10vh;
  transition: color .6s ease;
  transition: font-size 0.6s ease;
}
/* Animations */
/* Hamburger animation when checked*/
.menu-toggler:checked + .menu-hamburger div {
  transform: rotate(135deg);
}
/* Hamburger turns into X when checked*/
.menu-toggler:checked + .menu-hamburger div::before,
.menu-toggler:checked + .menu-hamburger div::after {
  top: 0;
  transform: rotate(90deg);
}
/* Menu Showcase showing up*/
.menu-toggler:checked ~ .menu-showcase {
  visibility: visible;
}
.menu-toggler:checked ~ .menu-showcase div {
  transform: scale(1);
}
.menu-toggler:checked ~ .menu-showcase div div {
  opacity: 1;
}
/* Menu Responsive Breakpoints */
/* Menu Small Devices */
@media (min-width: 600px) {
  .menu {
    top: 88vh;
    }
}
/* Menu Medium Devices */
@media (min-width: 900px) {
  .menu {
    top: 0;
    right: 50%;
    bottom: 0;
    left: 50%;
  }
  .menu-toggler {
    position: static;
    display: none;
  }
  .menu-hamburger {
    position: static;
    display: none;
  }
  .menu-showcase {
    height: 16%;
    visibility: visible;
  }
  .menu-showcase div {
    border-radius: 0;
    width: 100%;
    height: 100%;
    transform: scale(1);
    transition: all 0s;
  }
  .menu-showcase div div {
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: none;
  }
  .menu-ul {
    width: 60%;
    height: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    border-top: solid 1px var(--tertiary-color-lt);
    border-bottom: solid 1px var(--tertiary-color-lt);
  }
  li {
    margin: 0;
  }
  ul a {
    font-size: 1.5rem;
    font-weight: 400;
    transition: none;
  }
}
